doctype html
html(lang='en')
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include fragments/header.pug

        include fragments/footer.pug